*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #1f2937;
  color: #fff;
}

.container {
  width: 550px;
  margin: 118px auto 0;
}

/* Hero */

.hero {
  margin-bottom: 38px;
  border-bottom: 1px solid #2f3e53;
}

.hero-title {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.025em;
  margin-bottom: 12px;
}

.hero-title-span {
  color: #4adf86;
  display: block;
}

.hero-subtitle {
  color: #d5d4d8;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 52px;
}

.btn {
  background: #10b981;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 9px 17px;
  margin-bottom: 35px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: transform 150ms;
}

.hero > .btn:hover {
  transform: scale(0.97);
}

.hero-button-icon {
  margin-right: 15px;
  width: 15px;
}

/* Results */

.results {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 28px;
}

.password {
  position: relative;
}

.copy-btn {
  width: 55px;
  height: 100%;
  display: inline;
  position: absolute;
  right: 0;
  border-radius: 0 6px 6px 0;
  cursor: grab;
}

.copy-btn:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.copy-icon {
  filter: invert();
  width: 30px;
  transform: translate(-15%, 10%);
}

.results-result {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #55f991;
  background: #273549;
  border-radius: 6px;
  border: none;
  padding: 8px 30px;
  width: 100%;
  text-align: left;
}

.results-result:focus {
  outline: none;
}

.results-result::placeholder {
  background: url('images/dots.svg');
  background-repeat: no-repeat;
  background-position: 65px, center;
  background-size: 28px;
}
