*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: #1c1c1c;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 550px;
}

.button {
  padding: 12px 18px;
  border-radius: 7px;
  cursor: pointer;
}

/* Typography */

.header--section__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.02em;
}

.header--section__subtitle {
  font-size: 16px;
  line-height: 28px;
}

.main--section__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #d5d4d8;
}

.main--total__price {
  font-weight: 600;
  font-size: 36px;
  line-height: 32px;
  text-align: right;
  color: #f5f5f5;
}

/* Header */

.header--section {
  width: 550px;
  height: 190px;
  background: #3a69d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border: none;
  border-radius: 10px 10px 0 0;
}

/* Main */

.main--section {
  background: #1f2937;
  padding: 40px;
  border-radius: 0 0 10px 10px;
  height: 524px;
}

.main--section__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.main--section__button {
  display: inline;
  height: fit-content;
  background: #d1d4f4;
  color: #4a4e74;
  border: 1px solid #d5d4d8;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.main--section__button:hover,
.main--section__button:focus {
  box-sizing: border-box;
  outline: 2px solid #ffffff;
}

.main--section__header {
  margin: 14px 0;
  display: flex;
  justify-content: space-between;
}

.service--list {
  list-style: none;
}

.service--item {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #f5f5f5;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.service--item:last-of-type {
  margin-bottom: -30px;
}

.remove {
  font-weight: 400;
  font-size: 8px;
  line-height: 20px;
  color: #d5d4d8;
}

.price {
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
}

.service--item span {
  margin-right: -5px;
  font-weight: 300;
  color: #918e9b;
}

.main--section__total {
  margin: 50px 0 63px;
  border-top: 1px solid #c3c6db;
}

.main--send__button {
  background: #3a69d2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  font-weight: 500;
  line-height: 24px;
  transition: transform 200ms ease-in-out;
}

.main--send__button img {
  width: 20px;
}

.main--send__button:hover {
  transform: scale(1.02);
}
