*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Nav section */

.nav--section {
  margin: 0 auto;
  padding: 80px 45px 85px;
  width: 550px;
  background-color: #000;
  background-image: url('images/nav-bg.png');
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 20px 20px;
}

.nav--section__current {
  font-weight: 800;
  font-size: 42px;
  line-height: 24px;
  letter-spacing: -0.045em;
}

.nav--section__option {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 150ms;
}

.nav--section__option:hover {
  opacity: 0.65;
}

/* Search section */

.search--section {
  margin: 0 auto;
  width: 462px;
  display: flex;
  position: relative;
  transform: translateY(-50%);
}

.search--section__icon {
  position: absolute;
  left: 13px;
  top: 9px;
}

.search--section__input {
  width: 100%;
  height: 38px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
  padding-left: 42px;
}

.search--section__input::placeholder {
  opacity: 0.5;
}

.search--section__input:focus {
  outline: none;
}

.search--section__button {
  border: 1px solid #d1d5db;
  border-radius: 0 6px 6px 0;
  background: transparent;
  position: absolute;
  right: 0;
  width: 120px;
  height: 38px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #374151;
  transition: background 250ms;
}

.search--section__button:hover {
  background: rgb(243, 243, 243);
}
