* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #1c1c1c;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 550px;
  margin: 3em auto 0;
}

/* Main */

main {
  padding: 35px;
  text-align: center;
  background: linear-gradient(246.26deg, #585dfe 0%, #fb3796 100%);
}

.main--title {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 38px;
  letter-spacing: -0.05em;
}

#main--input {
  margin: 0;
  font-size: 98px;
  font-weight: 800;
}

/* Results */

.results {
  padding: 38px 0;
  background: #1f2937;
  text-align: center;
}

.results--section {
  margin-bottom: 30px;
}

.results--section:last-of-type,
.results--result:last-of-type {
  margin-bottom: 0;
}

.results--title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.results--result {
  margin-top: 12px;
  color: #d2d2d2;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
